@font-face {
    font-family: "Linux Libertine";
    src: url("fonts/LinLibertine_DRah.woff2");
}

body {
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    background-color: white;
    overflow: hidden;
}

.graph {
    background-color: white;
}

.container {
    flex-grow: 0;
    flex-shrink: 1;
}

.popup {
    background-color: rgba(255, 255, 255, 0.9) !important;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0px;
    padding: 0px;
    transform: none !important;
    border: none;
}

.summary {
    color: black;
    font-size: 0.9rem;
    max-width: 19em;
    transform: none !important;
    padding: 0.75em !important;
}

.thumbnail {
    /* flex-basis: 50%; */
    width: 100%;
    height: 185px;
    transform: none !important;
}

.force-graph-container .float-tooltip-kap {
    background-color: white !important;
    padding: 0px;
    border: 1px solid rgba(200, 200, 200, 0.5) !important;
    border-radius: 0px !important;
    margin: 0px;
    display: flex;
    transform: none !important;
}

#error {
    display: inline-block;
}

#get_more {
    width: 100%;
}

canvas {
    display: block;
}

#instructions-small {
    display: none;
}

@media screen and (max-width: 600px) {
    .instructions-small {
        display: flex;
    }
    .instructions-wide {
        display: none;
    }
}