{% extends "base.html" %}
{% block head %}
    <title>wikipedia rabbit hole</title>
    <script src="//unpkg.com/force-graph"></script>
{% endblock %}

{% block content %}
<div class="container-fluid p-1">
    <div class="d-flex flex-row align-items-center">
        <div class="p-2">
            <form onsubmit="getData()" onchange="searchSuggestions()">
                <input id="search" type="text" class="form-control" placeholder="Search...">
                <div class="results">
                </div>
            </form>
        </div>
        <div class="p-2 align-self-stretch">
            <button class="btn btn-outline-secondary" type="button" id="get_more" onclick="getGraph().then(data => renderGraph(data))">Get more</button>
        </div>
        <div class="p-2">
            <p id="error" class="m-0"></p>
        </div>
    </div>
    <div id="graph"></div>
    <script>
        function fetchRetry(url, options = {}, retries) {
            function onError(err) {
                retries--;
                if (retries == 0) {
                    throw err;
                }
                return fetchRetry(url, options, retries);
            }
            return fetch(url, options).catch(onError);
        }
        
        function escapeHTML(str) {
            const entityMap = {
                '&': '&amp;',
                '<': '&lt;',
                '>': '&gt;',
                '"': '&quot;',
                "'": '&#39;',
                '/': '&#x2F;',
                '`': '&#x60;',
                '=': '&#x3D;'
            };

            return String(str).replace(/[&<>"'`=\/]/g, s => {
                return entityMap[s];
            });
        }

        function searchSuggestions() {
            let search = escapeHTML(document.getElementById("search").value);
        }

        function getData() {
            event.preventDefault();
            let title = escapeHTML(document.getElementById("search").value);
            sessionStorage.clear();
            fetchRetry('/api?prop=links&titles=' + title, {}, 2).then(res => res.json()).then(data => {
                if (!Array.isArray(data) || !data.length) {
                    document.getElementById('error').innerHTML = "Please try again.";
                }
                else {
                    document.getElementById('error').innerHTML = "";
                    sessionStorage.setItem("curr", title);
                    sessionStorage.setItem(title, data.join('|'));     
                    getGraph(title).then(data => renderGraph(data));     
                }         
            });
        }

        function getRandom(arr, n) {
            let result = new Array(n),
                len = arr.length,
                taken = new Array(len);
            while (n--) {
                let x = Math.floor(Math.random() * len);
                result[n] = arr[x in taken ? taken[x] : x]
                taken[x] = --len in taken ? taken[len] : len;
            }
            return result;
        }

        async function getGraph() {
            let title = sessionStorage.getItem("curr");
            let links = sessionStorage.getItem(title).split("|");
            let linkSet;
            if (links.length > 10) {
                linkSet = getRandom(links, 10);
            }
            else {
                linkSet = links;
            }

            let sourceExtract = await fetchRetry('/api?prop=extracts&titles=' + title, {}, 2).then(res => res.json());
            let sourceImage = await fetchRetry('/api?prop=images&titles=' + title, {}, 2).then(res => res.json());

            let titleString = linkSet.join('|');
            titleString = titleString.replace('&', '%26');
            let extracts = await fetchRetry('/api?prop=extracts&titles=' + titleString, {}, 2).then(res => res.json());
            let images = await fetchRetry('/api?prop=images&titles=' + titleString, {}, 2).then(res => res.json());

            let nodeData = [
                {
                    title: Object.keys(sourceExtract)[0],
                    extract: sourceExtract[Object.keys(sourceExtract)[0]],
                    image: sourceImage[Object.keys(sourceExtract)[0]]
                }
            ];

            for (const key in extracts) {
                if (key != nodeData[0].title) {
                    nodeData.push({
                        title: key,
                        extract: extracts[key],
                        image: images[key]
                    });
                }
            }

            const newData = {
                nodes: [],
                links: []
            }

            newData['nodes'] = nodeData.map(node => (
                {
                    id: node.title,
                    name: node.title,
                    extract: node.extract,
                    image: node.image,
                    color: "rgba(0, 0, 0, 1)",
                    val: 10
                }));
            newData['links'] = nodeData.slice(1).map(node => ({
                    source: nodeData[0].title,
                    target: node.title,
                    length: 10
                }));

            return newData;
        }

        function renderGraph(data = {}) {
            const Graph = ForceGraph()
            (document.getElementById('graph'))
                .graphData(data)
                .nodeId('id')
                .nodeVal('val')
                .nodeLabel(
                    node => {
                    if (node.image !== "") {
                        return `
                            <div class="popup d-flex flex-row">
                                <p class="summary p-1">${node.extract}</p>
                                <img src=${node.image} class="thumbnail">
                            </div>
                        `
                    }
                    else {
                        return `
                            <div class="popup p-1">
                                <p class="summary">${node.extract}</p>
                            </div>
                        `
                    }
                }
                )
                .nodeCanvasObject((node, ctx, globalScale) => {
                    const label = node.id;
                    const fontSize = 20/globalScale;
                    ctx.font = `${fontSize}px Linux Libertine`;
                    const textWidth = ctx.measureText(label).width;
                    const bckgDimensions = [textWidth, fontSize].map(n => n + fontSize * 0.2); // some padding

                    ctx.fillStyle = 'rgba(255, 255, 255, 0.8)';
                    ctx.fillRect(node.x - bckgDimensions[0] / 2, node.y - bckgDimensions[1] / 2, ...bckgDimensions);
                    
                    ctx.textAlign = 'center';
                    ctx.textBaseline = 'middle';
                    ctx.fillStyle = node.color;
                    ctx.fillText(label, node.x, node.y);

                    node.__bckgDimensions = bckgDimensions; // to re-use in nodePointerAreaPaint
                })
                .nodePointerAreaPaint((node, color, ctx) => {
                    ctx.fillStyle = color;
                    const bckgDimensions = node.__bckgDimensions;
                    bckgDimensions && ctx.fillRect(node.x - bckgDimensions[0] / 2, node.y - bckgDimensions[1] / 2, ...bckgDimensions);
                })
                .onNodeClick(node => {
                    Graph.centerAt(node.x, node.y, 1000);
                    Graph.zoom(8, 2000);
                })
                .height(window.innerHeight - 120);
        }
    </script>
</div>
{% endblock %}
